<h1>A broken Cart</h1>

<div>
  <p>{{playerToDisplay.name}} comes across a broken cart Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<div class="links">
  <a routerLink="/lootcart">Loot the Victims</a>
  <a routerLink="/wake">Wake the victims up</a>
  <a routerLink="/start">Go Back</a>
</div>
<app-player-view></app-player-view>
