
<div>
    <div>
      <label>Character Name:</label>
      <br>
      <input [(ngModel)]="newPlayer.name">

    </div>

    <div>
        <label>Character Class:</label>
        <br>
        <input [(ngModel)]="newPlayer.playerClass" name="playerClass" type="radio" value="cleric">Cleric<br>
        <input [(ngModel)]="newPlayer.playerClass" name="playerClass" type="radio" value="rogue" >Rogue<br>
        <input [(ngModel)]="newPlayer.playerClass" name="playerClass" type="radio" value="barbarian">Barbarian<br>
    </div>

    <div>
      <label>Starting Item</label>
      <br>
      <input [(ngModel)]="newPlayer.inventory[0]" name="playerItem" type="radio" value="potion">Potion<br>
      <input [(ngModel)]="newPlayer.inventory[0]" name="playerItem" type="radio" value="holywater" >Holy Water<br>
      <input [(ngModel)]="newPlayer.inventory[0]" name="playerItem" type="radio" value="sword">Sword<br>
      <input [(ngModel)]="newPlayer.inventory[0]" name="playerItem" type="radio" value="rope" >Rope<br>
      <input [(ngModel)]="newPlayer.inventory[0]" name="playerItem" type="radio" value="bow">Bow<br>
    </div>
    {{newPlayer.name}}
    {{newPlayer.playerClass}}

    <!-- <div>
      <label>Inventory</label>
      <br>
      <input #newinventory>
    </div> -->
    <a routerLink="/start"><button (click)="submitForm()">Confirm</button></a>

</div>
